$color-brand_dark: #499a18;
$color-brand_light: #e06733;
$color-background: #edf2ec;
$color-text: #636060;
$color-heading: #717171;
$color-links_nav: #010201;
$color-dark: #000000;
$color-light: #ffffff;

$content-nav_width: 1220px;
$content-width: 1222px;
$tablet-width: 768px;
$content_tablet-width: 668px;
$mobile-big-width: 380px;
$content_big-width: 330px;
$mobile-small-width: 320px;
$content_mobile-small-width: 298px;
