// section 2 about
.about {
	padding: 13rem 0 0 0;
	margin-bottom: 35px;
}
.about__content {
	width: 60.5rem;

	& .heading__about {
		letter-spacing: 0.1rem;
		margin-bottom: 4rem;
	}
	& .text__about {
		margin-bottom: 11.5rem;
	}
}
.about__img {
	width: 46.4rem;
	position: relative;
	bottom: 33px;
}
